/* ------------- media medium screen ------------- */
@media (min-width: 850px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }

  #profile, #skills, #works, #contact {
    padding-top: 30px;
  }
  
  /* ------------- header ------------- */
  #open, #close, #modal {
    display: none;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  header h2 {
    font-size: 16px;
  }

  .header-sub {
    padding: 30px;
  }

  #menu ul {
    display: flex;
    opacity: 1;
    position: relative;
    transform: translateY(-35px);
    z-index: 1;
    margin-right: 10px;
    transition: transform 0.5s;
  }

  #menu ul li {
    margin: 0 15px;
  }

  /* ------------- mainphoto ------------- */
  .main-pic img {
    width: 100%;
  }

  .main-pic p {
    font-size: 18px;
    position: absolute;
    top: 15%;
    left: 8%;
  }

  /* ------------- main ------------- */
  main h2 {
    font-size: 26px;
  }
  
  /* ------------- profile ------------- */
  #profile img {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    align-self: center;
  }

  .profile {
    display: flex;
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    padding-top: 20px;
    padding-left: 70px;
  }

  #profile p {
    width: 50%;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 20px;
  }

  #profile p a {
    font-size: 16px;
  }

  #profile p span:first-child {
    text-align: left;
  }

  /* ------------- skills ------------- */
  .skill {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
  }

  .first-skill,
  .second-skill,
  .third-skill {
    display: block;
  }

  .second-skill,
  .third-skill {
    margin-top: 0;
  }

  .third-skill h3 {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: 5px;
  }

  .third-skill img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }

  #skills h3 {
    font-size: 70px;
    padding: 20px 0;
  }

  .skill p {
    padding: 10px 5px;
  } 

  /* ------------- works ------------- */
  #works img {
    width: 350px;
    height: 350px;
  }

  #works .ectype {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% - 64px);
    max-width: 850px;
    margin: 0 auto;
    gap: 20px;
  }

  #works .ectype a + a {
    margin-top: 0;
  }

  #works .actual p br:nth-child(1) {
    display: none;
  }

  #works .main-banner,
  #works .main-printed {
    width: calc(100% - 64px);
    max-width: 850px;
  }

  #works .main-printed a  {
    width: 45%;
    margin: 0 auto;
  }

  /* ------------- contact ------------- */
  .sns {
    margin: 30px 0;
    gap: 48px;
  }

  .sns i {
    margin-right: 6px;
  }

  .sns a {
    font-size: 20px;
  }

  #contact p {
    font-size: 16px;
    text-align: center;
  }

  footer {
    padding: 40px 0;
    gap: 78px;
  }
  
  footer h2 {
    font-size: 16px;
  }
  
  #capsule {
    font-size: 28px;
  }
  
  #hospital {
    font-size: 24px;
  }
}


/* ------------- media large screen ------------- */
@media (min-width: 1180px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  #profile, #skills, #works, #contact {
    padding-top: 40px;
  }
  
  /* ------------- mainphoto ------------- */
  .header-sub {
    padding: 40px;
  }

  #menu ul {
    display: flex;
    opacity: 1;
    position: relative;
    transform: translateY(-20px);
    z-index: 1;
    margin-right: 30px;
    transition: transform 0.5s;
  }

  #menu ul li {
    margin: 0 25px;
  }

  /* ------------- mainphoto ------------- */
  .main-pic img {
    width: 100%;
    height: 400px;
  }

  .main-pic p {
    position: absolute;
    top: 15%;
    left: 8%;
    font-size: 24px;
  }


  /* ------------- main ------------- */
  main h2 {
    font-size: 32px;
  }

  #profile h2, 
  #skills h2,
  #works h2, 
  #contact h2 {
    padding-bottom: 20px;
  } 
  
   /* ------------- profile ------------- */
  #profile img {
    width: 300px;
    height: 300px;
  }

  .profile {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 80px;
  }

  .profile p {
    padding-top: 50px;
    padding-left: 60px;
  }

  #profile p a {
    font-size: 18px;
  }

   /* ------------- skills ------------- */
  .skill {
    width: 95%;
    gap: 30px;
  }

  #skills h3 {
  font-size: 70px;
  padding: 30px 0;
  letter-spacing: 15px;
  }

  .skill p {
    padding: 20px 15px;
  } 

   /* ------------- works ------------- */
  #works .ectype {
    max-width: 1180px;
  }

  #works .logo {
    width: 100%;
    max-width: 1440px;
  }

  #works .banner,
  #works .printed-matter {
    width: 70%;
    max-width: 1440px;
  }

  #works .main-logo {
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
  gap: 20px;
}

  #works .main-logo a  {
    width: 25%;
    margin: 0 auto;
  }

  #works .main-logo img {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .design {
    position: relative;
  }

  .design a {
    pointer-events: visible;
    cursor: zoom-in;
  }

  .design a.scale {
    text-align: center;
    transition: transform 0.3s;
    transform: scale(1.7, 1.7);
    cursor: zoom-out;
    z-index: 2;
  }

  #pc-modal {
    opacity: 0;
    transition: opacity 1.0s;
  }
  
  #pc-modal.scale {
    opacity: 1;
    width: 100%;
    height: 100%;
    background: #000327;
    position: absolute;
    top: 0;
    z-index: 1;
  }

   /* ------------- contact ------------- */
  #contact p {
    width: 100%;
    text-align: center;
  }

  .sns {
    margin: 40px 0;
    gap: 48px;
  }

  .sns i {
    margin-right: 8px;
  }

  .sns a {
    font-size: 24px;
  }

  footer {
    padding: 40px 0;
    gap: 90px;
  }
  
  footer h2 {
    font-size: 18px;
  }
  
  #capsule {
    font-size: 32px;
  }
  
  #hospital {
    font-size: 28px;
  }
}