/* ------------- common ------------- */
body {
  background: #0A1F54;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  /* font-family: proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */
  font-family: cursive;
  font-size: 14px;
}

h2 {
  /* font-family: "Playfair Display", Georgia, Times, "Times New Roman", serif; */
  font-family: cursive;
  font-size: 30px;
  font-style: italic;
}

h3 {
  font-family: "Playfair Display", Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-style: italic;
}

h4 {
  font-size: 16px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  /* font-family: "Playfair Display", Georgia, Times, "Times New Roman", serif; */
  font-family: cursive;
  font-style: italic;
}

p {
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}

li {
  list-style: none;
}

#profile,
#skills,
#works,
#contact {
  padding-bottom: 120px;
}

/* ------------- header ------------- */
header {
  background: #000327;
}

.my-name {
  text-align: center;
  z-index: 2;
}

header h2 {
  font-size: 12px;
  padding-top: 8px;
}

.header-sub {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#menu ul {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 80px;
  text-align: center;
  z-index: 4;
  opacity: 0;
  transform: translateY(-400px);
  transition: opacity 0.6s, transform 0.6s;
}

#menu ul.appear {
  opacity: 1;
  transform: none;
}

#menu ul li {
  padding-bottom: 20px;
}

#menu ul li a:hover {
  opacity: 0.5;
  text-decoration: underline;
}

#open i {
  font-size: 34px;
  cursor: pointer;
}

#open {
  padding-top: 4px;
  display: block;
  z-index: 1;
}

#open.hidden {
  display: none;
}

#close i {
  font-size: 32px;
  cursor: pointer;
}

#close {
  display: none;
}

#close.appear {
  padding-top: 4px;
  display: block;
  z-index: 4;
}

#modal {
  opacity: 0;
  transition: opacity 1.0s;
}

#modal.appear {
  opacity: 1;
  width: 100%;
  height: 250px;
  background: #000327;
  position: absolute;
  top: 0;
  z-index: 3;
}

/* ------------- main-pic ------------- */
.main-pic {
  width: 100%;
  position: relative;
}

.main-pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.main-pic p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fff100;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 8%;
  z-index:2;
}

/* ------------- main ------------- */
.main-sub {
  padding-bottom: 20px;
}

main h2 {
  text-decoration: underline;
  margin: 60px 0 32px 0;
}

/* ------------- profile ------------- */
.profile {
  width: 100%;
  margin: 0 auto;
}

#profile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

#profile p {
  width: 60%;
  margin: 0 auto;
  letter-spacing: 1.2;
}

#profile p span:first-child {
  display: block;
  font-weight: bold;
  text-align: center;
}

#profile p span:last-child {
  text-decoration: underline;
}

#profile p a {
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #00ffff;
  text-decoration: underline;
}

#profile p a:hover {
  opacity: 0.6;
}

/* ------------- skills ------------- */
#skills h3 {
  font-size: 64px;
  line-height: 1.5;
}

#skills h4 {
  font-size: 16px;
  text-decoration: underline double #00ffff;
  letter-spacing: 1.5px;
  padding-bottom: 30px;
}

#skills p {
  line-height: 1.8;
}

.first-skill h3 {
  color: #61c1be;
}

.second-skill h3 {
  color: #fff100;
}

.first-skill,
.second-skill,
.third-skill {
  display: flex;
  align-items: center;
  border: 2px solid white;
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  gap: 30px;
}

.second-skill,
.third-skill {
  margin-top: 32px;
}

.third-skill img {
  display: block;
  width: 75px;
  height: 75px;
  margin: 0 -5px;
  padding: 5px 0 10px 0;
}

/* ------------- works ------------- */
#works {
  overflow: hidden;
}

#works img {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s, transform 0.4s;
}

#works img.appear {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border: 2px solid skyblue;
  opacity: 1;
  transform: none;
}

#works h4 {
  font-size: 18px;
  text-decoration: underline double #00bfff;
  padding-top: 10px;
  padding-bottom: 15px;
  letter-spacing: 1.5px;
}

#works .actual h4 {
  padding-top: 60px;
  padding-bottom: 35px;
}

#works h5 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold;
  background-color: #00bfff;
  padding: 10px 0;
  width: 140px;
  margin: 40px auto 40px;
  border: 2px solid #00bfff;
  border-radius: 10px 10px 10px 10px;
}

#works h6 {
  letter-spacing: 1.4px;
  padding-bottom: 30px;
} 

#works .banner h5,
#works .printed-matter h5 {
  margin: 80px auto 40px;
}

#works p {
  font-size: 24px;
  letter-spacing: 2.0px;
  padding: 10px 0 40px 0;
  text-align: center;
}

#works .ectype a + a {
  margin-top: 32px;
}

#works a {
  display: block;
  width: 350px;
  margin: 0 auto;
}

#works .actual a:hover {
  opacity: 0.5;
}

#works .logo,
#works .banner,
#works .printed-matter {
  width: 100%;
  margin: 0 auto;
}

#works .main-logo,
#works .main-banner,
#works .main-printed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 24px);
  margin: 0 auto;
  max-width: 500px;
  gap: 30px;
  padding-bottom: 30px;
}

#works .main-logo a  {
  width: 45%;
  margin: 0 auto;
}

#works .main-logo img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

#works .main-logo .online {
  object-fit: contain;
  height: auto;
}

#works .main-banner img,
#works .main-printed img  {
  object-fit:contain;
  height: auto;
}

#works .main-banner #child {
  object-fit: fill;
  height: 525px;
}

#works .main-banner #child2 {
  object-fit: fill;
  height: 155px;
}

#works .printed-matter {
  padding-bottom: 120px;
}

.design a {
  pointer-events: none;
}

/* ------------- contact ------------- */
#contact p {
  width: 90%;
  font-size: 16px;
  margin: 0 auto;
  padding-bottom: 16px;
  text-align: center;
}

.sns {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 18px;
}

.sns i {
  margin-right: 4px;
}

.sns a {
  font-size: 14px;
  font-family: "Playfair Display", Georgia, Times, "Times New Roman", serif;
}

.sns a:hover {
  color: blue;
  text-decoration: underline;
}

#to_top {
  opacity: 0;
  transition: opacity 0.3s;
}

#to_top.show {
  opacity: 1;
  width: 30px;
  height: 30px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: white;
  border: 1px solid white;
  cursor: pointer;
}

#to_top a {
  display: block;
  color: black;
  padding-top: 5px;
}

/* ------------- footer ------------- */
footer {
  background: #030E26;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 48px;
}

footer h2 {
  font-size: 14px;
  padding-top: 5px;
  font-family: cursive;
}

#capsule {
  font-size: 22px;
}

#hospital {
  font-size: 20px;
}